header.header-wrapper{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  //padding-bottom: @padding;
  .header{
    background-color: $back-color;
    justify-content: space-around;
    .nav-block{
      align-items: center;
      flex-flow: column;
      padding: $padding;
      .title{
        font-weight: 600;
      }

      .menu{
        flex-flow: row;
        >div{
          flex-flow: column;
          position: relative;
          align-items: center;
          .current{
            padding: 0 $padding*2;
          }
          .current:hover{
            cursor: pointer;
          }
          .dropdown{
            display: none;
            flex-flow: column;
            position: absolute;
            top: 100%;
            z-index: 2;
            box-shadow: 0 0 5px rgba(0,0,0,.3);
            background-color: $back-color;
            >span{
              padding: $padding/2 $padding*2;
            }
            >span:hover{
                cursor: pointer;
                background-color: $back-color + #333;
            }
            >span.active{
                background-color: $back-color - #222;
            }
          }
        }
        >div:hover{
          .dropdown{
            display: flex;
          }
        }
      }
    }
    .nav-block:hover{
      background-color: $back-color - #333;
    }
  }
  input{
    background-color: transparent;
    border: none;
    font-weight: 700;
    width: 90%;
      
  }
  input:hover {
    background-color: rgba(0,0,0,.2);
  }
}