.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  flex-direction: column;
  @media (max-height: 500px) {
    justify-content: flex-end;
  }
}